<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>主页</title>
</head>
<body>
<!-- 引入资源文件 -->
<div th:include="system/resources"></div>
<div id="index_vue">
    <button v-on:click="getUserList">搜索/刷新</button>
    <button v-on:click="toAddUser">新增</button>
    <table>
        <tr>
            <th>编号</th>
            <th>姓名</th>
            <th>年龄</th>
            <th>操作</th>
        </tr>
        <tr v-for="user in users">
            <td>{{user.userid}}</td>
            <td>{{user.username}}</td>
            <td>{{user.userage}}</td>
            <td>
                <input v-on:click="toUpdateUser(user.userid)" type="button" value="编辑"/>&nbsp;
                <input v-on:click="deleteUser(user.userid)" type="button" value="删除"/>&nbsp;
            </td>
        </tr>
    </table>
    <vue-pagination :cur.sync="cur" :all.sync="all" v-on:btn-click="listen"></vue-pagination>
</div>
<script type="text/javascript">
    var index_vue = new Vue({
        el:"#index_vue",
        data:{
            users:'',
            cur: 1,// 初始化当前页
            all: '',// 总页数
        },
        created:function (){// 页面渲染完成后执行
            axios.get("/getUserList?pageNo=1")// 初始化首页为1
                .then(response => {
                    this.users = response.data.userList;
                    this.all = response.data.totlePage;
                })
        },
        components: {
            // 分页插件
            'vue-pagination': Vue.Pagination
        },
        methods: {
            listen: function (data) {// 分页插件点击事件（查询集合对象）
                axios.get("/getUserList?pageNo="+data)
                    .then(response => {
                        this.users = response.data.userList;
                        this.all = response.data.totlePage;
                        this.cur = data;
                    })
            },
            // 获取用户列表（刷新和按条件查询）
            getUserList: function () {
                axios.get("/getUserList?pageNo="+this.cur)
                    .then(response => {
                        this.users = response.data.userList;
                        this.all = response.data.totlePage;
                    })
            },
            // 跳转至新增页面
            toAddUser:function(id){
                window.location.href='/toAddUser';
            },
            // 跳转至编辑页面
            toUpdateUser:function(id){
                window.location.href='/toUserUpdate?userid='+id;
            },
            // 删除
            deleteUser: function (id) {
                axios.get("/deleteUser?userid="+id)
                    .then(response => {
                        var result = response.data;
                        if(result = "success"){// 删除成功，刷新主页
                            alert("删除成功");
                            // 刷新
                            window.location.href="/index"
                        }else if(result = "fail"){// 删除失败，提示错误
                            alert("删除失败，请重试")
                        }else if(result = "exception"){// 代码异常
                            alert("程序异常，请联系管理员")
                        }
                    })
            },
        },
    })
</script>
</body>
</html>