<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <script th:src="@{/js/jquery-1.10.2.js}"></script>
    <script th:src="@{/js/vue.min.js}"></script>
    <script src="https://cdn.bootcss.com/axios/0.16.0/axios.min.js"></script>
    <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
</head>
<body>
<div id="index_vue">
    <button v-on:click="alertMsg">搜索</button>
    <table>
        <tr>
            <th>编号</th>
            <th>姓名</th>
            <th>年龄</th>
            <th>操作</th>
        </tr>
        <tr v-for="user in users">
            <td>{{user.userid}}</td>
            <td>{{user.username}}</td>
            <td>{{user.userage}}</td>
            <td>
                <input v-on:click="updateUser(user.userid)" type="button" value="编辑"/>&nbsp;
                <input v-on:click="deleteUser(user.userid)" type="button" value="删除"/>&nbsp;
            </td>
        </tr>
    </table>
</div>
</body>
<script type="text/javascript">
    var index_vue = new Vue({
        el:"#index_vue",
        data:{
            users:'',
        },
        methods: {

            alertMsg: function () {
                axios.get("/getUserList")
                    .then(response => {
                        console.log(response.data);
                        this.users = response.data
                    })
            },
            updateUser:function(id){
                window.location.href='/updateUser?userid='+id;

            },
            deleteUser: function (id) {
                axios.post("/getUserList")
                    .then(response => {
                        console.log(response.data);
                        this.users = response.data
                    })
            },
        }
    })
</script>
</html>