<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>用户编辑</title>
    <script th:src="@{/js/jquery-1.10.2.js}"></script>
    <script th:src="@{/js/vue.min.js}"></script>
    <script src="https://cdn.bootcss.com/axios/0.16.0/axios.min.js"></script>
    <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
</head>
<body>
<form id="updateUser">
    <input name="userid" th:value="${user.userid}" type="hidden" />
    <table>
        <caption>编辑用户</caption>
        <tr>
            <td>用户名：</td>
            <td><input name="username" th:value="${user.username}"/></td>
        </tr>
        <tr>
            <td>年龄：</td>
            <td><input name="userage"  th:value="${user.userage}" /></td>
        </tr>
        <tr style="text-align: center">
            <td colspan="2">
                <button id="doUpdateUser">保存</button>
                <button onclick="javascript:history.back(-1);">返回</button>
            </td>
        </tr>
    </table>
</form>
<script type="text/javascript">
    $("#doUpdateUser").click(function(){
        console.log($("#updateUser").serialize())
        $.ajax({
            async: true,// 默认值为true,即为异步
            cache:false,//不使用缓存
            data:$("#updateUser").serialize(),
            url:"/updateUser",
            type:"POST",
            dataType:'JSON',
            success:function(data){
                alert(data)
                console.log(data)
            }
        })
    })
</script>
</body>
</html>