<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>用户编辑</title>
</head>
<body>
<!-- 引入资源文件 -->
<div th:include="system/resources"></div>
<form id="userUpdate">
    <input v-model="userInfo.userid" type="hidden" />
    <table>
        <caption>编辑用户</caption>
        <tr>
            <td>用户名：</td>
            <td><input v-model="userInfo.username" /></td>
        </tr>
        <tr>
            <td>年龄：</td>
            <td><input v-model="userInfo.userage" /></td>
        </tr>
        <tr style="text-align: center">
            <td colspan="2">
                <button id="doUpdateUser">保存</button>
                <button onclick="javascript:history.back(-1);">返回</button>
            </td>
        </tr>
    </table>
</form>
<script type="text/javascript">
    var vm_userUpdate = new Vue({
        el:"#userUpdate",
        data:{
            userInfo:{},
        },
        mounted (){// 页面渲染完成后执行
            var userid;
            // params:map集合;
            var params = getHref_Param();
            $.each(params,function(key,value){
                if(key == 'userid'){// 获取userid查询对象
                    userid = value;
                }
            });
            axios.post("/getUserByUserId?userid="+userid)
                .then(responce => {
                    this.userInfo = responce.data;
                })
        },
        methods:{
            submit:function(){
                axios.post("/updateUser",this.userInfo)
                    .then(responce => {
                        var result = responce.data;
                        if(result = "success"){// 保存成功，刷新主页
                            alert("保存成功");
                            // 跳往主页并刷新
                            window.location.href="/index"
                        }else if(result = "fail"){// 保存失败，提示错误
                            alert("保存失败，请重试")
                        }else if(result = "exception"){// 代码异常
                            alert("程序异常，请联系管理员")
                        }
                    })
            }
        }
    })
</script>
</body>
</html>